select{
    font-size: 12px;
    width: 100%;
    border: none;
    box-sizing:border-box
}
select:focus-visible{
    outline: unset;
}
.formControl{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
}
.formControl label{
    position: absolute;
    font-size: 12px;
    background: #fff;
    transition: width .3s ease-in-out, font-size .3s ease-in-out;
    top: -15px;
    font-size: 8px;
    padding: 1px 10px;
}
/* .formControl label:focus{
    width: "auto";
    font-size: 8px;
    top: -10px
} */

/* select:focus-visible ~ label{
    font-size: 22px;
} */

select:focus-visible + label{
    font-size: 22px;
}